.Top {
    /* height: calc(100vh - 80px); */
    height: 100px;
}

.Player {
    height: fit-content;
    /* height: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* outline: aqua dotted 1px; */
    padding: 0.5%;
}

.Bottom {}

.Controls {
    width: 150%;
}