.Top {
    height: calc(100vh - 80px - 2vmin);
}

.Player {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vmin;

    outline: white solid 1px;
}


.Controls {
    width: 150%;
    outline: red dotted 1px;
}