.MainControl {
    width: 100%;
    display: flex;
    flex-direction: column;


    outline: green dotted 2px;
}

.Controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}

.Play,
.SkipBackward,
.SkipForward,
.Shuffle,
.Repeat {
    padding-inline: 2.5%;
    outline: blue dotted 1px;
    font-size: 20px;
}

.PlayButton {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white);
    color: var(--black);
    padding: 1%;
    border-radius: 50%;
}

.ProgressBar{
    display: flex;
    flex-direction: row;
}