:root {
  --green: #44c767;
  --black: #000000;
  --white: #ffffff;
  --gray: #535353;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  overflow-y: hidden;
}