.Current {
    display: flex;
    flex-direction: row;
    height:60px;
    /* padding: 0.5%; */
    outline: gold dotted 1px;
    white-space: nowrap;
    overflow-x: hidden;
    width: 100%;
}

.CurrentImageContainer {
    /* height: 100%;
    width: auto; */
    /* height: 20%; */
    /* width: fit-1; */
    /* height: calc(width); */
    /* position: relative; */
    outline: red solid 1px;
    overflow: hidden;

    /* object-fit: contain; */
}

.CurrentImageContainer img {
    height: 100%;
    width: auto;
    /* position: absolute; */
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
*/
    /* object-fit: contain; */
    /* object-position: center; */

    /* outline: red solid 1px; */
    /* object-fit: cover; */
}

/* 
.CurrentImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */
/* 
.CurrentDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.CurrentTrack {}

.CurrentArtists {
    display: flex;
    flex-direction: row;
}

.Artist {
    padding-right: 1%;
} */