.ProgressBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.SliderInput {
    width: 100%;
    accent-color: var(--white);

}

.SliderEncased {
    width: 80%;
}

.SliderEncased:hover .SliderInput {
    accent-color: var(--green);
  }
  
  .SliderEncased:hover .SliderInput::-webkit-slider-thumb {
    opacity: 1;
  }
  
  .SliderInput::-webkit-slider-thumb {
    opacity: 0;
  }